.body, html{
    overflow-x: hidden;
  
  }

  
/* logo on navbar */
.img-circle{
    border-radius: 50%;
    margin-bottom: 2%;
    
}

/* navbar content */
#navbar{
   background-color: rgb(19, 19, 68);
   text-align: center;
   font-size: 210%;
   border-radius: 25pt;
   z-index: 200;
   padding-top: 0.25pt;
   font-family: 'Optima', sans-serif;
   

};

/* Needed to make navbar horizontal */
#navbar-text{
    color: white;
    text-decoration: none;
  
    

}

nav a{
    text-decoration: none;
    padding-left: 1pt;
}

li{
    text-decoration: none;
    padding-bottom: 0.75%;
    padding-top: 0.75%;
    
}



li a:hover {
    border-top-left-radius: 2pt;
    border-bottom-left-radius: 2pt;
    border-top-right-radius: 2pt;
    border-bottom-right-radius: 2pt;
    border-top: 1.5pt solid whitesmoke;
    border-bottom:1.5pt solid whitesmoke;
    border-left: 1.5pt solid whitesmoke;
    border-right: 1.5pt solid whitesmoke;
    text-decoration: none;
    padding-left: 1pt;
  }

body{
    background-color: #36454f;
}

