.body, html{
    overflow-x: hidden;
  
  }

  
/* logo on navbar */
.img-circle{
    border-radius: 50%;
    margin-bottom: 2%;
    
}

/* navbar content */
#navbar{
   background-color: rgb(19, 19, 68);
   text-align: center;
   font-size: 210%;
   border-radius: 25pt;
   z-index: 200;
   padding-top: 0.25pt;
   font-style: bold;
   font-family: 'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
   

};

/* Needed to make navbar horizontal */
#navbar-text{
    color: white;
    text-align: center;
    padding-bottom: 2%;
    
    
}


li{
    display: inline;
    text-align: center;
    padding-left: 5.5%;
    padding-right: 5.5%;
    
}



li a:hover {
    background-color: rgb(36, 36, 73);
    padding-top: 4pt;
    padding-right: 6pt;
    padding-left: 6pt;
  }

body{
    background-color: #36454f;
}

