<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>By the Blood of Jesus</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/css/mdb.min.css" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/contact.css"> 



  </head>

  <body>
    <!-- Start of navbar -->
   
      <!-- Navbar row -->
      <div class="row">
        <!-- Navbar column -->
        <div class="col-3">
            <ul class="nav flex-column grey lighten-4 py-4" style="list-style: none">
              <li class="nav-item">
                <a class="nav-link active" href="homepage.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
          <!-- End of navbar column -->        
        </div> 

        <!-- Contact Forum -->
        <h1 class="text-center"> Contact Me </h1>
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10">
                <form id="contact-form">
                    <div class="form-group">

                        <div class="row text-center">
                            <div class="col-lg-7">
                                <label for="name-input">Your Name</label>
                                <input class="form-control" id="name-input" name="name" type="text">
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="form-group mt-3">                                
                                <div class="col-lg-8">
                                    <label for="email-input">Your Email Address</label>
                                    <input type="email" class="form-control" id="email-input" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-lg-4">
                                <label for="phone-input">Your Phone</label>
                                <input type="text" class="form-control" id="phone-input" name="phone">
                            </div>
                        </div>
                        <div class="row text-center"> 
                            <div class="form-group">
                                <label for="subject-input">Subject</label>
                                <input class="form-control" id="subject-input" name="subject" type="text">
                            </div>
                        </div>  
                        <div class="row text-center">
                            <div class="form-group">
                                <label for="message-input">Your Message</label>
                                <textarea class="form-control" id="message-input" onfocus="setBgColor()" name="message" rows="5" type="text"></textarea>
                            </div>
                        </div>
                            <div class="row text-center">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12">
                                    <button type="submit" class="btn btn-lg" id="contact-btn">Send Email</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
      </div>

        <!-- Footer -->
         <footer class="page-footer font-small fixed-bottom">
        
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3" id="copyright">© 2019 Copyright:
                <a href="https://www.linkedin.com/in/mendiolac/"> Camille Mendiola</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->

        <!-- Bootstrap java tags -->        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/js/mdb.min.js"></script>

    
    
    </body>



</html>