<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>By the Blood of Jesus</title>
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/css/mdb.min.css" />
    <link href="../static/sass/yourproject/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../static/css/contact.css"> 
    <link rel="stylesheet" href="../static/css/style.css"> 
    
    



  </head>

  <body>
    <!-- Start of navbar -->
   
      <!-- Navbar row -->
      <div class="row">
        <!-- Navbar column -->
        <div class="col-3">
            <ul class="nav flex-column grey lighten-4 py-4" style="list-style: none">
              <li class="nav-item">
                <a class="nav-link active" href="homepage.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
          <!-- End of navbar column -->        
        </div> 

        <!-- Contact Forum -->
        <h1>For More Information</h1>
        <!-- <div class="info"><a href="https://www.grandvincent-marion.fr" target="_blank"><p> Made with <i class="fa fa-heart"></i> by Marion Grandvincent </p></a></div> -->
       
       <form>
           <h1>Should you have any questions, please do not hesitate to contact me :</h1>
           
         <div class="contentform">
           <div id="sendmessage"> Your message has been sent successfully. Thank you. </div>
     
     

     
                 <div class="form-group">
                 <p>Name <span>*</span></p>
                 <span class="icon-case"><i class="fa fa-user"></i></span>
             <input type="text" name="prenom" id="prenom" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Prénom' doit être renseigné."/>
                     <div class="validation"></div>
           </div>
     
           <div class="form-group">
           <p>E-mail <span>*</span></p>	
           <span class="icon-case"><i class="fa fa-envelope-o"></i></span>
                     <input type="email" name="email" id="email" data-rule="email" data-msg="Vérifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire."/>
                     <div class="validation"></div>
           </div>	

           <div class="form-group">
            <p>Phone number <span>*</span></p>	
            <span class="icon-case"><i class="fa fa-phone"></i></span>
              <input type="text" name="phone" id="phone" data-rule="maxlen:10" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Téléphone' doit être renseigné. Minimum 10 chiffres"/>
                      <div class="validation"></div>
            </div>
	
     
           <div class="form-group">
           <p>City <span>*</span></p>
           <span class="icon-case"><i class="fa fa-building-o"></i></span>
             <input type="text" name="ville" id="ville" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Ville' doit être renseigné."/>
                     <div class="validation"></div>
           </div>	
     

     
           <div class="form-group">
           <p>Subject <span>*</span></p>	
           <span class="icon-case"><i class="fa fa-comment-o"></i></span>
                     <input type="text" name="sujet" id="sujet" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Sujet' doit être renseigné."/>
                     <div class="validation"></div>
           </div>
         
           <div class="form-group">
           <p>Message <span>*</span></p>
           <span class="icon-case"><i class="fa fa-comments-o"></i></span>
                     <textarea name="message" rows="14" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Message' doit être renseigné."></textarea>
                     <div class="validation"></div>
           </div>	
       </div>
       </div>
     <button type="submit" class="bouton-contact">Send</button>
       
     </form>	

        <!-- Footer -->
         <footer class="page-footer font-small fixed-bottom">
        
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3" id="copyright">© 2019 Copyright:
                <a href="https://www.linkedin.com/in/mendiolac/"> Camille Mendiola</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->

        <!-- Bootstrap java tags -->        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/js/mdb.min.js"></script>

    
    
    </body>



</html>