<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>By the Blood of Jesus</title>
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/css/mdb.min.css" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/contact.scss"> 



  </head>

  <body>
    <!-- Start of navbar -->
   
      <!-- Navbar row -->
      <div class="row">
        <!-- Navbar column -->
        <div class="col-3">
            <ul class="nav flex-column grey lighten-4 py-4" style="list-style: none">
              <li class="nav-item">
                <a class="nav-link active" href="homepage.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
          <!-- End of navbar column -->        
        </div> 

        <!-- Contact Forum -->
        <h1>Elegant Contact Form</h1>
        <form class="cf">
            <div class="half left cf">
                <input type="text" id="input-name" placeholder="Name">
                <input type="email" id="input-email" placeholder="Email address">
                <input type="text" id="input-subject" placeholder="Subject">
            </div>
            <div class="half right cf">
                <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
            </div>  
            <input type="submit" value="Submit" id="input-submit">
        </form>

        <!-- Footer -->
         <footer class="page-footer font-small fixed-bottom">
        
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3" id="copyright">© 2019 Copyright:
                <a href="https://www.linkedin.com/in/mendiolac/"> Camille Mendiola</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->

        <!-- Bootstrap java tags -->        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/js/mdb.min.js"></script>
        <script type="text/javascript" src="../static/javascript/contact.js"></script>

    
    
    </body>



</html>