<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>By the Blood of Jesus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.3.1/superhero/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >
    <link rel="stylesheet" href="../static/css/style.css">



  </head>

  <body>
    <!-- Start of navbar -->
    <div class="spiderman">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="navbar">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <ul class="nav justify-content-center">
                <li class="nav-item"> <a class="nav-link active" href="homepage.html"  id="navbar-left" style="color:white" > Home <span class="sr-only"></span><a></li>
                <li class="nav-item"> <a class="nav-link" href="about.html"  id="navbar-left" style="color:white" > About </a></li>
                <li class="navbar-brand" href="homepage.html">
                    <img class="img-circle" src="../static/images/logo.JPEG" width="100" height="100" alt="">
                </li>               
                <li class="nav-item"><a class="nav-link" href="gallery.html" id="navbar-text" style="color:white" > Gallery </a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html" id="navbar-text" style="color:white" > Contact </a></li>
              </ul>
        </div>
      </nav>
      <!-- End of navbar -->
    </div>


    <!-- Footer -->
<footer class="page-footer font-small mdb-color darken-3 pt-4">

    <!-- Footer Elements -->
    <div class="container">

      <!--Grid row-->
      <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-md-6">

          <!-- Video -->
          <div class="embed-responsive embed-responsive-16by9 mb-4">
            <iframe height="300" width="500" class="embed-responsive-item" src="https://www.youtube.com/embed/Dbn8UU4caxs" allowfullscreen></iframe>
          </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://www.linkedin.com/in/mendiolac/"> Camille Mendiola</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->



  <!-- Bootstrap java tags -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  </body>



</html>